<div class="container">
  <div class="row" style="padding-left: 300px;" >
    <div class="col-lg-md-6">
      <h1>List of Details</h1>
    <table>
      <tr>
        <td>Product ID</td>
        <td>{{productbyId.id}}</td>
      </tr>
      <tr>
        <td>Product Name</td>
        <td>{{productbyId.name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{productbyId.description}}</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{productbyId.price}}</td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td>{{productbyId.quantity}}</td>
      </tr>
    </table>
    </div>
  </div>
</div>
